build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/libndiReceiverLib.a
build/libndiReceiverWrapperLib.a
build/ndiReceiverDmx
build/rules.ninja
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.10.2/CMakeSystem.cmake
build/CMakeFiles/3.10.2/CompilerIdC/a.out
build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/ndiReceiver.dir/main.cpp.o
build/CMakeFiles/ndiReceiverDmx.dir/main.cpp.o
build/CMakeFiles/ndiReceiverDmx.dir/src/ArtnetManager.cpp.o
build/CMakeFiles/ndiReceiverDmx.dir/src/ChannelManager.cpp.o
build/CMakeFiles/ndiReceiverDmx.dir/src/Dimmer.cpp.o
build/CMakeFiles/ndiReceiverDmx.dir/src/ndiReceiverWrapper.cpp.o
build/CMakeFiles/ndiReceiverDmx.dir/src/PixelInMatrix.cpp.o
build/CMakeFiles/ndiReceiverDmx.dir/src/PixelMatrix.cpp.o
build/CMakeFiles/ndiReceiverDmx.dir/src/TimingCalculator.cpp.o
build/CMakeFiles/ndiReceiverLib.dir/src/ndiReceiver.cpp.o
build/CMakeFiles/ndiReceiverWrapperLib.dir/src/ndiReceiverWrapper.cpp.o
build/Testing/TAG
build/Testing/20211116-1356/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20211116-1356.log
build/Testing/Temporary/LastTest.log
build/src/cmake_install.cmake
build/src/CTestTestfile.cmake
